In [2]:
import numpy as np
import pandas as pd

Here I will analyze the world's populationa and answer these questions: <br>
1) What Continent has the highest population? <br>
2) What are the top three and lowest three countries(based on population count)? <br>
3) Does the size of the continent contribute to population size? <br>

In [4]:
world = pd.read_csv('World_Population.csv')
world

,Rank,Country,Region,Population,Percentage,Date
0,1,China,Asia,1411778724,17.80%,20-Nov
1,2,India,Asia,1386141732,17.50%,21-Dec
2,3,United States,Americas,332960297,4.20%,21-Dec
3,4,Indonesia,Asia,271350000,3.43%,20-Dec
4,5,Pakistan,Asia,225200000,2.84%,21-Jul
...,...,...,...,...,...,...
236,237,Niue(NewZealand),Oceania,1549,0%,21-Jul
237,238,Tokelau(NewZealand),Oceania,1501,0%,21-Jul
238,239,VaticanCity,Europe,825,0%,19-Feb
239,240,Cocos(Keeling)Islands(Australia),Oceania,573,0%,20-Jun
240,241,PitcairnIslands(United Kingdom),Oceania,40,0%,21-Jan